name: New Release PR Trigger

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run release-please
        uses: googleapis/release-please-action@v4
        with:
          target-branch: main
          config-file: .release-please-config.json
          token: ${{ secrets.ACCESS_TOKEN }}
